# Mac OS LOL
.DS_Store

# Raycast
raycast/config.json

# Github Copilot
github-copilot/apps.json

# iTerm2
iterm2

# Zed
zed/conversations
zed/embeddings

# Globals
.tmp*
node_modules

# Raycast

raycast

# config file is password protected
*.rayconfig

